<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>


<body>
    <main>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                        <a href="{% url 'create_category' %}">Create Category</a>
                        <a href="{% url 'create_account' %}">Create Account</a>
                        <a href="{% url 'create_receipt' %}">Create Reciept</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for reciept in receipts_object %}
                <tr>
                    <td>{{reciept.vendor}}</td>
                    <td>{{reciept.total}}</td>
                    <td>{{reciept.tax}}</td>
                    <td>{{reciept.date|date:"m/d/y"}}</td>
                    <td>{{reciept.category.name}}</td>
                    <td>{{reciept.account.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
